/*.navbar {*/
/*    font-family: "Roboto", sans-serif;*/
/*    -webkit-border-radius: 0;*/
/*    -moz-border-radius: 0;*/
/*    -ms-border-radius: 0;*/
/*    border-radius: 0;*/
/*    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);*/
/*    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);*/
/*    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);*/
/*    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);*/
/*    border: none;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: 12;*/
/*    width: 100%; }*/
/*.navbar .navbar-brand {*/
/*    white-space: nowrap;*/
/*    -ms-text-overflow: ellipsis;*/
/*    -o-text-overflow: ellipsis;*/
/*    text-overflow: ellipsis;*/
/*    overflow: hidden; }*/
/*.navbar .navbar-custom-right-menu {*/
/*    float: right; }*/
/*.navbar .navbar-toggle {*/
/*    text-decoration: none;*/
/*    color: #fff;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    margin-top: -4px;*/
/*    margin-right: 17px; }*/
/*.navbar .navbar-toggle:before {*/
/*    content: '\E8D5';*/
/*    font-family: 'Material Icons';*/
/*    font-size: 26px; }*/
/*.navbar .navbar-collapse.in {*/
/*    overflow: visible; }*/

/*.ls-closed .navbar-brand {*/
/*    margin-left: 30px; }*/



/*!*.navbar-header {*!*/
/*!*    padding: 10px 7px; }*!*/
/*.navbar-header .bars {*/
/*    float: left;*/
/*    text-decoration: none; }*/

/*.navbar-nav > li > a {*/
/*    padding: 7px 7px 2px 7px;*/
/*    margin-top: 9px;*/
/*    margin-left: 5px; }*/

/*.navbar-nav .dropdown-menu {*/
/*    margin-top: -40px !important; }*/



/*.col-red .navbar .navbar-brand,*/
/*.col-red .navbar .navbar-brand:hover,*/
/*.col-red .navbar .navbar-brand:active,*/
/*.col-red .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-red .navbar .nav > li > a:hover,*/
/*.col-red .navbar .nav > li > a:focus,*/
/*.col-red .navbar .nav .open > a,*/
/*.col-red .navbar .nav .open > a:hover,*/
/*.col-red .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-red .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-red .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-red .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-pink .navbar .navbar-brand,*/
/*.col-pink .navbar .navbar-brand:hover,*/
/*.col-pink .navbar .navbar-brand:active,*/
/*.col-pink .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-pink .navbar .nav > li > a:hover,*/
/*.col-pink .navbar .nav > li > a:focus,*/
/*.col-pink .navbar .nav .open > a,*/
/*.col-pink .navbar .nav .open > a:hover,*/
/*.col-pink .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-pink .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-pink .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-pink .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-purple .navbar .navbar-brand,*/
/*.col-purple .navbar .navbar-brand:hover,*/
/*.col-purple .navbar .navbar-brand:active,*/
/*.col-purple .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-purple .navbar .nav > li > a:hover,*/
/*.col-purple .navbar .nav > li > a:focus,*/
/*.col-purple .navbar .nav .open > a,*/
/*.col-purple .navbar .nav .open > a:hover,*/
/*.col-purple .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-purple .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-purple .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-purple .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-deep-purple .navbar .navbar-brand,*/
/*.col-deep-purple .navbar .navbar-brand:hover,*/
/*.col-deep-purple .navbar .navbar-brand:active,*/
/*.col-deep-purple .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-deep-purple .navbar .nav > li > a:hover,*/
/*.col-deep-purple .navbar .nav > li > a:focus,*/
/*.col-deep-purple .navbar .nav .open > a,*/
/*.col-deep-purple .navbar .nav .open > a:hover,*/
/*.col-deep-purple .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-deep-purple .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-deep-purple .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-deep-purple .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-indigo .navbar .navbar-brand,*/
/*.col-indigo .navbar .navbar-brand:hover,*/
/*.col-indigo .navbar .navbar-brand:active,*/
/*.col-indigo .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-indigo .navbar .nav > li > a:hover,*/
/*.col-indigo .navbar .nav > li > a:focus,*/
/*.col-indigo .navbar .nav .open > a,*/
/*.col-indigo .navbar .nav .open > a:hover,*/
/*.col-indigo .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-indigo .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-indigo .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-indigo .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-blue .navbar .navbar-brand,*/
/*.col-blue .navbar .navbar-brand:hover,*/
/*.col-blue .navbar .navbar-brand:active,*/
/*.col-blue .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-blue .navbar .nav > li > a:hover,*/
/*.col-blue .navbar .nav > li > a:focus,*/
/*.col-blue .navbar .nav .open > a,*/
/*.col-blue .navbar .nav .open > a:hover,*/
/*.col-blue .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-blue .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-blue .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-blue .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-light-blue .navbar .navbar-brand,*/
/*.col-light-blue .navbar .navbar-brand:hover,*/
/*.col-light-blue .navbar .navbar-brand:active,*/
/*.col-light-blue .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-light-blue .navbar .nav > li > a:hover,*/
/*.col-light-blue .navbar .nav > li > a:focus,*/
/*.col-light-blue .navbar .nav .open > a,*/
/*.col-light-blue .navbar .nav .open > a:hover,*/
/*.col-light-blue .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-light-blue .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-light-blue .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-light-blue .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-cyan .navbar .navbar-brand,*/
/*.col-cyan .navbar .navbar-brand:hover,*/
/*.col-cyan .navbar .navbar-brand:active,*/
/*.col-cyan .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-cyan .navbar .nav > li > a:hover,*/
/*.col-cyan .navbar .nav > li > a:focus,*/
/*.col-cyan .navbar .nav .open > a,*/
/*.col-cyan .navbar .nav .open > a:hover,*/
/*.col-cyan .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-cyan .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-cyan .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-cyan .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-teal .navbar .navbar-brand,*/
/*.col-teal .navbar .navbar-brand:hover,*/
/*.col-teal .navbar .navbar-brand:active,*/
/*.col-teal .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-teal .navbar .nav > li > a:hover,*/
/*.col-teal .navbar .nav > li > a:focus,*/
/*.col-teal .navbar .nav .open > a,*/
/*.col-teal .navbar .nav .open > a:hover,*/
/*.col-teal .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-teal .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-teal .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-teal .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-green .navbar .navbar-brand,*/
/*.col-green .navbar .navbar-brand:hover,*/
/*.col-green .navbar .navbar-brand:active,*/
/*.col-green .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-green .navbar .nav > li > a:hover,*/
/*.col-green .navbar .nav > li > a:focus,*/
/*.col-green .navbar .nav .open > a,*/
/*.col-green .navbar .nav .open > a:hover,*/
/*.col-green .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-green .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-green .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-green .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-light-green .navbar .navbar-brand,*/
/*.col-light-green .navbar .navbar-brand:hover,*/
/*.col-light-green .navbar .navbar-brand:active,*/
/*.col-light-green .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-light-green .navbar .nav > li > a:hover,*/
/*.col-light-green .navbar .nav > li > a:focus,*/
/*.col-light-green .navbar .nav .open > a,*/
/*.col-light-green .navbar .nav .open > a:hover,*/
/*.col-light-green .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-light-green .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-light-green .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-light-green .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-lime .navbar .navbar-brand,*/
/*.col-lime .navbar .navbar-brand:hover,*/
/*.col-lime .navbar .navbar-brand:active,*/
/*.col-lime .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-lime .navbar .nav > li > a:hover,*/
/*.col-lime .navbar .nav > li > a:focus,*/
/*.col-lime .navbar .nav .open > a,*/
/*.col-lime .navbar .nav .open > a:hover,*/
/*.col-lime .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-lime .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-lime .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-lime .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-yellow .navbar .navbar-brand,*/
/*.col-yellow .navbar .navbar-brand:hover,*/
/*.col-yellow .navbar .navbar-brand:active,*/
/*.col-yellow .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-yellow .navbar .nav > li > a:hover,*/
/*.col-yellow .navbar .nav > li > a:focus,*/
/*.col-yellow .navbar .nav .open > a,*/
/*.col-yellow .navbar .nav .open > a:hover,*/
/*.col-yellow .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-yellow .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-yellow .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-yellow .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-amber .navbar .navbar-brand,*/
/*.col-amber .navbar .navbar-brand:hover,*/
/*.col-amber .navbar .navbar-brand:active,*/
/*.col-amber .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-amber .navbar .nav > li > a:hover,*/
/*.col-amber .navbar .nav > li > a:focus,*/
/*.col-amber .navbar .nav .open > a,*/
/*.col-amber .navbar .nav .open > a:hover,*/
/*.col-amber .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-amber .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-amber .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-amber .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-orange .navbar .navbar-brand,*/
/*.col-orange .navbar .navbar-brand:hover,*/
/*.col-orange .navbar .navbar-brand:active,*/
/*.col-orange .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-orange .navbar .nav > li > a:hover,*/
/*.col-orange .navbar .nav > li > a:focus,*/
/*.col-orange .navbar .nav .open > a,*/
/*.col-orange .navbar .nav .open > a:hover,*/
/*.col-orange .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-orange .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-orange .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-orange .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-deep-orange .navbar .navbar-brand,*/
/*.col-deep-orange .navbar .navbar-brand:hover,*/
/*.col-deep-orange .navbar .navbar-brand:active,*/
/*.col-deep-orange .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-deep-orange .navbar .nav > li > a:hover,*/
/*.col-deep-orange .navbar .nav > li > a:focus,*/
/*.col-deep-orange .navbar .nav .open > a,*/
/*.col-deep-orange .navbar .nav .open > a:hover,*/
/*.col-deep-orange .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-deep-orange .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-deep-orange .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-deep-orange .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-brown .navbar .navbar-brand,*/
/*.col-brown .navbar .navbar-brand:hover,*/
/*.col-brown .navbar .navbar-brand:active,*/
/*.col-brown .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-brown .navbar .nav > li > a:hover,*/
/*.col-brown .navbar .nav > li > a:focus,*/
/*.col-brown .navbar .nav .open > a,*/
/*.col-brown .navbar .nav .open > a:hover,*/
/*.col-brown .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-brown .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-brown .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-brown .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-grey .navbar .navbar-brand,*/
/*.col-grey .navbar .navbar-brand:hover,*/
/*.col-grey .navbar .navbar-brand:active,*/
/*.col-grey .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-grey .navbar .nav > li > a:hover,*/
/*.col-grey .navbar .nav > li > a:focus,*/
/*.col-grey .navbar .nav .open > a,*/
/*.col-grey .navbar .nav .open > a:hover,*/
/*.col-grey .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-grey .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-grey .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-grey .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-blue-grey .navbar .navbar-brand,*/
/*.col-blue-grey .navbar .navbar-brand:hover,*/
/*.col-blue-grey .navbar .navbar-brand:active,*/
/*.col-blue-grey .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-blue-grey .navbar .nav > li > a:hover,*/
/*.col-blue-grey .navbar .nav > li > a:focus,*/
/*.col-blue-grey .navbar .nav .open > a,*/
/*.col-blue-grey .navbar .nav .open > a:hover,*/
/*.col-blue-grey .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-blue-grey .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-blue-grey .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-blue-grey .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-black .navbar .navbar-brand,*/
/*.col-black .navbar .navbar-brand:hover,*/
/*.col-black .navbar .navbar-brand:active,*/
/*.col-black .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-black .navbar .nav > li > a:hover,*/
/*.col-black .navbar .nav > li > a:focus,*/
/*.col-black .navbar .nav .open > a,*/
/*.col-black .navbar .nav .open > a:hover,*/
/*.col-black .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-black .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-black .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-black .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-white .navbar .navbar-brand,*/
/*.col-white .navbar .navbar-brand:hover,*/
/*.col-white .navbar .navbar-brand:active,*/
/*.col-white .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-white .navbar .nav > li > a:hover,*/
/*.col-white .navbar .nav > li > a:focus,*/
/*.col-white .navbar .nav .open > a,*/
/*.col-white .navbar .nav .open > a:hover,*/
/*.col-white .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-white .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-white .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-white .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*@media (max-width: 767px) {*/
/*    .navbar > .container .navbar-brand,*/
/*    .navbar > .container-fluid .navbar-brand {*/
/*        margin-left: 35px;*/
/*        width: 73%; }*/
/*    .navbar .navbar-header {*/
/*        display: inline-block;*/
/*        margin-bottom: -6px;*/
/*        width: calc(100% + 30px); }*/
/*    .navbar .nav > li {*/
/*        display: inline-block; }*/
/*    .navbar .navbar-nav {*/
/*        margin-top: -10px;*/
/*        margin-bottom: 1px;*/
/*        margin-left: -7px; }*/
/*    .navbar .navbar-nav .open .dropdown-menu {*/
/*        background-color: #fff;*/
/*        position: absolute; }*/
/*    .navbar .dropdown-menu {*/
/*        margin-left: -50px; }*/
/*    .navbar .js-right-sidebar {*/
/*        margin-top: 15px; }*/
/*    .dt-buttons {*/
/*        float: none !important;*/
/*        text-align: center;*/
/*        margin-bottom: 15px; }*/
/*    .panel-switch-btn {*/
/*        top: 12px;*/
/*        right: 0 !important; } }*/

/*@media (min-width: 768px) and (max-width: 991px) {*/
/*    .navbar > .container .navbar-brand,*/
/*    .navbar > .container-fluid .navbar-brand {*/
/*        margin-left: 20px; } }*/

/*@media (min-width: 992px) and (max-width: 1169px) {*/
/*    .navbar > .container .navbar-brand,*/
/*    .navbar > .container-fluid .navbar-brand {*/
/*        margin-left: 20px; } }*/


/*.navbar {*/
/*    font-family: "Roboto", sans-serif;*/
/*    -webkit-border-radius: 0;*/
/*    -moz-border-radius: 0;*/
/*    -ms-border-radius: 0;*/
/*    border-radius: 0;*/
/*    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);*/
/*    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);*/
/*    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);*/
/*    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);*/
/*    border: none;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: 12;*/
/*    width: 100%; }*/
/*.navbar .navbar-brand {*/
/*    white-space: nowrap;*/
/*    -ms-text-overflow: ellipsis;*/
/*    -o-text-overflow: ellipsis;*/
/*    text-overflow: ellipsis;*/
/*    overflow: hidden; }*/
/*.navbar .navbar-custom-right-menu {*/
/*    float: right; }*/
/*.navbar .navbar-toggle {*/
/*    text-decoration: none;*/
/*    color: #fff;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    margin-top: -4px;*/
/*    margin-right: 17px; }*/
/*.navbar .navbar-toggle:before {*/
/*    content: '\E8D5';*/
/*    font-family: 'Material Icons';*/
/*    font-size: 26px; }*/
/*.navbar .navbar-collapse.in {*/
/*    overflow: visible; }*/


/*.ls-closed .navbar-brand {*/
/*    margin-left: 30px; }*/



/*!*.navbar-header {*!*/
/*!*    padding: 10px 7px; }*!*/
/*.navbar-header .bars {*/
/*    float: left;*/
/*    text-decoration: none; }*/

/*.navbar-nav > li > a {*/
/*    padding: 7px 7px 2px 7px;*/
/*    margin-top: 9px;*/
/*    margin-left: 5px; }*/

/*.navbar-nav .dropdown-menu {*/
/*    margin-top: -40px !important; }*/

/*.label-count {*/
/*    position: absolute;*/
/*    top: 2px;*/
/*    right: 6px;*/
/*    font-size: 10px;*/
/*    line-height: 15px;*/
/*    background-color: #000;*/
/*    padding: 0 4px;*/
/*    -webkit-border-radius: 3px;*/
/*    -moz-border-radius: 3px;*/
/*    -ms-border-radius: 3px;*/
/*    border-radius: 3px; }*/

/*.col-red .navbar .navbar-brand,*/
/*.col-red .navbar .navbar-brand:hover,*/
/*.col-red .navbar .navbar-brand:active,*/
/*.col-red .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-red .navbar .nav > li > a:hover,*/
/*.col-red .navbar .nav > li > a:focus,*/
/*.col-red .navbar .nav .open > a,*/
/*.col-red .navbar .nav .open > a:hover,*/
/*.col-red .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-red .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-red .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-red .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-pink .navbar .navbar-brand,*/
/*.col-pink .navbar .navbar-brand:hover,*/
/*.col-pink .navbar .navbar-brand:active,*/
/*.col-pink .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-pink .navbar .nav > li > a:hover,*/
/*.col-pink .navbar .nav > li > a:focus,*/
/*.col-pink .navbar .nav .open > a,*/
/*.col-pink .navbar .nav .open > a:hover,*/
/*.col-pink .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-pink .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-pink .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-pink .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-purple .navbar .navbar-brand,*/
/*.col-purple .navbar .navbar-brand:hover,*/
/*.col-purple .navbar .navbar-brand:active,*/
/*.col-purple .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-purple .navbar .nav > li > a:hover,*/
/*.col-purple .navbar .nav > li > a:focus,*/
/*.col-purple .navbar .nav .open > a,*/
/*.col-purple .navbar .nav .open > a:hover,*/
/*.col-purple .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-purple .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-purple .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-purple .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-deep-purple .navbar .navbar-brand,*/
/*.col-deep-purple .navbar .navbar-brand:hover,*/
/*.col-deep-purple .navbar .navbar-brand:active,*/
/*.col-deep-purple .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-deep-purple .navbar .nav > li > a:hover,*/
/*.col-deep-purple .navbar .nav > li > a:focus,*/
/*.col-deep-purple .navbar .nav .open > a,*/
/*.col-deep-purple .navbar .nav .open > a:hover,*/
/*.col-deep-purple .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-deep-purple .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-deep-purple .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-deep-purple .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-indigo .navbar .navbar-brand,*/
/*.col-indigo .navbar .navbar-brand:hover,*/
/*.col-indigo .navbar .navbar-brand:active,*/
/*.col-indigo .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-indigo .navbar .nav > li > a:hover,*/
/*.col-indigo .navbar .nav > li > a:focus,*/
/*.col-indigo .navbar .nav .open > a,*/
/*.col-indigo .navbar .nav .open > a:hover,*/
/*.col-indigo .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-indigo .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-indigo .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-indigo .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-blue .navbar .navbar-brand,*/
/*.col-blue .navbar .navbar-brand:hover,*/
/*.col-blue .navbar .navbar-brand:active,*/
/*.col-blue .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-blue .navbar .nav > li > a:hover,*/
/*.col-blue .navbar .nav > li > a:focus,*/
/*.col-blue .navbar .nav .open > a,*/
/*.col-blue .navbar .nav .open > a:hover,*/
/*.col-blue .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-blue .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-blue .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-blue .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-light-blue .navbar .navbar-brand,*/
/*.col-light-blue .navbar .navbar-brand:hover,*/
/*.col-light-blue .navbar .navbar-brand:active,*/
/*.col-light-blue .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-light-blue .navbar .nav > li > a:hover,*/
/*.col-light-blue .navbar .nav > li > a:focus,*/
/*.col-light-blue .navbar .nav .open > a,*/
/*.col-light-blue .navbar .nav .open > a:hover,*/
/*.col-light-blue .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-light-blue .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-light-blue .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-light-blue .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-cyan .navbar .navbar-brand,*/
/*.col-cyan .navbar .navbar-brand:hover,*/
/*.col-cyan .navbar .navbar-brand:active,*/
/*.col-cyan .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-cyan .navbar .nav > li > a:hover,*/
/*.col-cyan .navbar .nav > li > a:focus,*/
/*.col-cyan .navbar .nav .open > a,*/
/*.col-cyan .navbar .nav .open > a:hover,*/
/*.col-cyan .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-cyan .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-cyan .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-cyan .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-teal .navbar .navbar-brand,*/
/*.col-teal .navbar .navbar-brand:hover,*/
/*.col-teal .navbar .navbar-brand:active,*/
/*.col-teal .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-teal .navbar .nav > li > a:hover,*/
/*.col-teal .navbar .nav > li > a:focus,*/
/*.col-teal .navbar .nav .open > a,*/
/*.col-teal .navbar .nav .open > a:hover,*/
/*.col-teal .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-teal .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-teal .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-teal .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-green .navbar .navbar-brand,*/
/*.col-green .navbar .navbar-brand:hover,*/
/*.col-green .navbar .navbar-brand:active,*/
/*.col-green .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-green .navbar .nav > li > a:hover,*/
/*.col-green .navbar .nav > li > a:focus,*/
/*.col-green .navbar .nav .open > a,*/
/*.col-green .navbar .nav .open > a:hover,*/
/*.col-green .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-green .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-green .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-green .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-light-green .navbar .navbar-brand,*/
/*.col-light-green .navbar .navbar-brand:hover,*/
/*.col-light-green .navbar .navbar-brand:active,*/
/*.col-light-green .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-light-green .navbar .nav > li > a:hover,*/
/*.col-light-green .navbar .nav > li > a:focus,*/
/*.col-light-green .navbar .nav .open > a,*/
/*.col-light-green .navbar .nav .open > a:hover,*/
/*.col-light-green .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-light-green .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-light-green .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-light-green .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-lime .navbar .navbar-brand,*/
/*.col-lime .navbar .navbar-brand:hover,*/
/*.col-lime .navbar .navbar-brand:active,*/
/*.col-lime .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-lime .navbar .nav > li > a:hover,*/
/*.col-lime .navbar .nav > li > a:focus,*/
/*.col-lime .navbar .nav .open > a,*/
/*.col-lime .navbar .nav .open > a:hover,*/
/*.col-lime .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-lime .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-lime .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-lime .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-yellow .navbar .navbar-brand,*/
/*.col-yellow .navbar .navbar-brand:hover,*/
/*.col-yellow .navbar .navbar-brand:active,*/
/*.col-yellow .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-yellow .navbar .nav > li > a:hover,*/
/*.col-yellow .navbar .nav > li > a:focus,*/
/*.col-yellow .navbar .nav .open > a,*/
/*.col-yellow .navbar .nav .open > a:hover,*/
/*.col-yellow .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-yellow .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-yellow .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-yellow .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-amber .navbar .navbar-brand,*/
/*.col-amber .navbar .navbar-brand:hover,*/
/*.col-amber .navbar .navbar-brand:active,*/
/*.col-amber .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-amber .navbar .nav > li > a:hover,*/
/*.col-amber .navbar .nav > li > a:focus,*/
/*.col-amber .navbar .nav .open > a,*/
/*.col-amber .navbar .nav .open > a:hover,*/
/*.col-amber .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-amber .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-amber .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-amber .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-orange .navbar .navbar-brand,*/
/*.col-orange .navbar .navbar-brand:hover,*/
/*.col-orange .navbar .navbar-brand:active,*/
/*.col-orange .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-orange .navbar .nav > li > a:hover,*/
/*.col-orange .navbar .nav > li > a:focus,*/
/*.col-orange .navbar .nav .open > a,*/
/*.col-orange .navbar .nav .open > a:hover,*/
/*.col-orange .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-orange .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-orange .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-orange .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-deep-orange .navbar .navbar-brand,*/
/*.col-deep-orange .navbar .navbar-brand:hover,*/
/*.col-deep-orange .navbar .navbar-brand:active,*/
/*.col-deep-orange .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-deep-orange .navbar .nav > li > a:hover,*/
/*.col-deep-orange .navbar .nav > li > a:focus,*/
/*.col-deep-orange .navbar .nav .open > a,*/
/*.col-deep-orange .navbar .nav .open > a:hover,*/
/*.col-deep-orange .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-deep-orange .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-deep-orange .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-deep-orange .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-brown .navbar .navbar-brand,*/
/*.col-brown .navbar .navbar-brand:hover,*/
/*.col-brown .navbar .navbar-brand:active,*/
/*.col-brown .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-brown .navbar .nav > li > a:hover,*/
/*.col-brown .navbar .nav > li > a:focus,*/
/*.col-brown .navbar .nav .open > a,*/
/*.col-brown .navbar .nav .open > a:hover,*/
/*.col-brown .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-brown .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-brown .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-brown .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-grey .navbar .navbar-brand,*/
/*.col-grey .navbar .navbar-brand:hover,*/
/*.col-grey .navbar .navbar-brand:active,*/
/*.col-grey .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-grey .navbar .nav > li > a:hover,*/
/*.col-grey .navbar .nav > li > a:focus,*/
/*.col-grey .navbar .nav .open > a,*/
/*.col-grey .navbar .nav .open > a:hover,*/
/*.col-grey .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-grey .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-grey .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-grey .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-blue-grey .navbar .navbar-brand,*/
/*.col-blue-grey .navbar .navbar-brand:hover,*/
/*.col-blue-grey .navbar .navbar-brand:active,*/
/*.col-blue-grey .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-blue-grey .navbar .nav > li > a:hover,*/
/*.col-blue-grey .navbar .nav > li > a:focus,*/
/*.col-blue-grey .navbar .nav .open > a,*/
/*.col-blue-grey .navbar .nav .open > a:hover,*/
/*.col-blue-grey .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-blue-grey .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-blue-grey .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-blue-grey .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-black .navbar .navbar-brand,*/
/*.col-black .navbar .navbar-brand:hover,*/
/*.col-black .navbar .navbar-brand:active,*/
/*.col-black .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-black .navbar .nav > li > a:hover,*/
/*.col-black .navbar .nav > li > a:focus,*/
/*.col-black .navbar .nav .open > a,*/
/*.col-black .navbar .nav .open > a:hover,*/
/*.col-black .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-black .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-black .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-black .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/

/*.col-white .navbar .navbar-brand,*/
/*.col-white .navbar .navbar-brand:hover,*/
/*.col-white .navbar .navbar-brand:active,*/
/*.col-white .navbar .navbar-brand:focus {*/
/*    color: #fff; }*/

/*.col-white .navbar .nav > li > a:hover,*/
/*.col-white .navbar .nav > li > a:focus,*/
/*.col-white .navbar .nav .open > a,*/
/*.col-white .navbar .nav .open > a:hover,*/
/*.col-white .navbar .nav .open > a:focus {*/
/*    background-color: rgba(0, 0, 0, 0.05); }*/

/*.col-white .navbar .nav > li > a {*/
/*    color: #fff; }*/

/*.col-white .navbar .bars {*/
/*    float: left;*/
/*    padding: 10px 20px;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*    margin-top: 4px; }*/

/*.col-white .navbar .bars:hover {*/
/*    background-color: rgba(0, 0, 0, 0.08); }*/



.navbar {
    background: #2C3E50 !important;
    border-color: #2C3E50 !important;;
    border-radius: 0 !important;
}

.navbar-brand {
    color: #ffffff!important;
}

.navbar-brand {
    padding: 0px 15px !important;
}

.navbar-brand img {
    width: 55px;
    position: relative;
    top: 5px;
    display: inline-block;
}

.navbar-brand .foundation-name {
    display: inline-grid;
    color: #ffffff;
    line-height: 20px;
    position: relative;
    top: -2px;
    left: 8px;
}

.navbar-brand .foundation-name .first-para{
    font-size: 19px;
}

.navbar-brand .foundation-name .second-para{
    display: block;
    font-size: 15px;
}

/*@media all and (min-width: 992px) {*/
/*    .navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }*/
/*    .navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }*/
/*    .navbar .dropdown-menu.fade-up{ top:-50%;  }*/
/*    .navbar .nav-item:hover .dropdown-menu{ transition: .6s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }*/
/*}*/

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

nav ul li {
    display: block !important;
}

nav ul li a {
    text-decoration: none;
    font-weight: 500;
    /*text-transform: uppercase;*/
}


nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

.navbar-default .navbar-nav > li > a:focus {
    color: blue;
    background-color: #eee;
}
.dropdown-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    /*margin-top: -35px !important;*/
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border: none; }

.dropdown-menu > li > a {
    padding: 7px 18px;
    color: #666;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-size: 14px;
    line-height: 25px;
}





/* SHIFT */
nav.shift ul li a {
    position:relative;
    z-index: 1;
}
nav.shift ul li a:hover {
    color: #2C3E50;
}

nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #eee !important;
    visibility: none;
    opacity: 0;
    z-index: -1;
}


.sticky{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999;
    -webkit-animation: slide-down 0.7s;
    -moz-animation: slide-down 0.7s;
    animation: slide-down 0.7s;

}
@-webkit-keyframes slide-down { 0% { opacity:0; transform:translateY(-100%);}100% { opacity:0.9; transform:translateY(0);}}

@-moz-keyframes slide-down { 0% { opacity:0; transform:translateY(-100%);}100% { opacity:0.9; transform:translateY(0);}}

@keyframes slide-down { 0% { opacity:0; transform:translateY(-100%);}100% { opacity:0.9; transform:translateY(0);}}



nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}



@media (max-width: 767px) {
    .navbar-brand {
        padding: 8px 5px !important;
        position: relative;
        left: 5px;
    }
    .navbar-brand img {
        position: relative;
        top: -3px;
    }
    .navbar-brand .foundation-name{
        display: none;
    }
}


